<%- include('./partials/header') %> 
<div style="height: 40px"></div>

<section class="product-list ">
 
 

  <div class="d-flex justify-content-center">
      <a style="padding: 5px 20px" href="/home"><button type="button" class="btn btn-danger">All Products</button></a>
      <a style="padding: 5px 20px" href="/home/electronics"><button type="button" class="btn btn-info">Electronics</button></a>
      
      <a style="padding: 5px 20px" href="/home/grocery"><button type="button" class="btn btn-danger">Grocery</button></a>
      <a style="padding: 5px 20px" href="/home/fashion"><button type="button" class="btn btn-success">Fashion</button></a>
      <a style="padding: 5px 20px" href="/home/mobiles"><button type="button" class="btn btn-warning">Mobiles</button></a>
      
</div>
  <div  class="searchbar">
      
      <input class="search-input" placeholder="Search">
      <span class="search-icon"></span>
    </div>

  <div class="product-container">

 

   <script>
   
    const cat = '<%=cat%>';

   </script>

  
     </div>
  
     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
     <script src="/js/category.js"></script>
  
  
</section>


<%- include('./partials/footer') %> 

